@charset "ISO-8859-1";
/*Header è un contenitore simile a div*/
h1 {
	text-align: center;
	color: red;
	/* la seguente istruzione genera l'ombra grigia*/
	text-shadow: 5px 10px 1px #93968f;
}
/*margin: auto serve per centrare il contenitore article*/
article {
	border: 2px solid red;
	margin: auto;
	width: 50%;
	background-color: orange;
}
p {
	text-align: center;
}
p.errore{
	color: red;
}